/* ROOT */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "IBM Plex Mono", sans-serif;
    box-sizing: border-box;

    /* DECLARE VARIABLE OF COLORS */
    --color-1: #101a3b;
    --color-2: #203972;
    --color-3: #523589;
    --color-4: #cb60b8;
    --color-5: #3d9cc5;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}
a {
    text-decoration: none;
    color: var(--color-5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    color: var(--color-5);
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.75rem;
}

/* BODY */
body {
    background-color: var(--color-1);
}

/* NAVIGATION */
nav {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--color-2);
    padding: 15px 15px;
    margin: 0 auto;
    z-index: 1000;
    top: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 0 10px;
    font-weight: 500;
}

#contacts {
    display: none;
}

/* HOME SECTION */
#home-section {
    height: 90vh;
    padding: 0 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

#hero-text {
    margin-top: 30px;
}

#type-container {
    display: inline-block;
}

#typed-out {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 2s steps(20) forwards, blinking 0.8s infinite;
    width: 0;
}

/*ANIMATION FOR TYPING */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* ANIMATION FOR BLINKING */
@keyframes blinking {
    from {
        border-color: transparent;
    }
    to {
        border-color: var(--color-5);
    }
}
/*  
/* HERO IMAGE */

#profile-picture {
    border-radius: 100%;
    border: 1px solid var(--color-5);
    height: 250px;
}

/* ABOUT SECTION */
#about-section {
    background-color: rgba(0, 0, 0, 0.5);
}

#about-section-container {
    padding: 0 10px;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
}

#about-section h1 {
    color: var(--color-5);
    text-align: center;
    padding: 10px 0;
}

#small-info {
    margin: 0 auto;
    max-width: 1000px;
    text-align: justify;
    line-height: 24px;
    color: var(--color-4);
}

/* To set 2 box to row */
#flex-bar-container {
    display: flex;
    margin-top: 3vh;
    gap: 20px;
}

/* SKILLS BOX */
#skills-bar {
    width: 50%;
}

#skills-bar h3 {
    text-align: center;
    margin: 5px 0;
}
#skills-bar p {
    color: var(--color-4);
    margin: 5px 0;
    font-weight: 600;
}
.skills-container {
    width: 100%;
    height: 6px;
    background-color: var(--color-1);
}

.skills {
    padding: 3px;
    color: white;
}

/* TO ADD COLORS TO SKILLS */
.html {
    width: 80%;
    background-color: var(--color-3);
}
.css {
    width: 68%;
    background-color: var(--color-4);
}
.js {
    width: 65%;
    background-color: var(--color-3);
}
.php {
    width: 40%;
    background-color: var(--color-4);
}

.sql {
    width: 40%;
    background-color: var(--color-3);
}

.bootstrap {
    width: 60%;
    background-color: var(--color-4);
}

/* PERSONALITY BOX */
#personality-bar {
    width: 50%;
}

#personality-bar p {
    color: var(--color-4);
    margin: 5px 0;
    font-weight: 600;
}

#personality-bar h3 {
    text-align: center;
    margin: 5px 0;
}
#personality-bar p {
    color: var(--color-4);
}
.personality-container {
    width: 100%;
    height: 6px;
    background-color: var(--color-1);
}

.personality {
    padding: 3px;
    color: white;
}

/* TO ADD COLORS TO PERSONALITY */
.teamwork {
    width: 85%;
    background-color: var(--color-3);
}
.continuous-learning {
    width: 90%;
    background-color: var(--color-4);
}
.time-management {
    width: 95%;
    background-color: var(--color-3);
}
.communication {
    width: 60%;
    background-color: var(--color-4);
}

/* PROJECT SECTIONS */
#project-section {
    max-width: 1000px;
    height: 100vh;
    padding: 0 10px;
    margin: 0 auto;
}

#project-section h1 {
    text-align: center;
    padding: 10px 0;
}

.projects {
    padding: 5px;
    margin: 10px 0;
    background-color: var(--color-2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.project-details {
    color: var(--color-4);
}

.flex-github-link {
    display: none;
}
/* Small devices (mobile/tablets) */
@media screen and (min-width: 576px) {
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }

    /* NAVIGATION BAR*/
    nav {
        max-width: 90vw;
        border-radius: 0 0 10px 10px;
        justify-content: space-between;
    }
    li {
        display: inline;
        margin: 0 20px;
        font-weight: 500;
    }
    #contacts {
        display: block;
    }
    #contacts a {
        padding: 5px;
        margin-left: 5px;
    }

    #home-section {
        margin: 0 auto;
        max-width: 800px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }
    #hero-text {
        margin-top: 0px;
        display: inline;
    }
    #hero-image {
        display: inline;
    }
    #about-section h1 {
        padding: 20px 0;
    }
    #small-info {
        line-height: 32px;
    }
    /* SKILLS BOX */
    #skills-bar {
        padding: 0 10px;
    }
    #skills-bar h3 {
        text-align: center;
        margin: 10px 0;
    }
    .skills-container {
        height: 10px;
    }
    .skills {
        padding: 5px;
        color: white;
    }
    #personality-bar h3 {
        margin: 10px 0;
    }
    .personality-container {
        height: 10px;
    }
    .personality {
        padding: 5px;
    }

    /* PROJECT SECTION */
    .projects {
        display: flex;
        gap: 20px;
        padding: 10px;
    }
    .projects img {
        height: 150px;
    }
    .project-texts {
        height: 50%;
    }
    .flex-github-link {
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}
/* Large devices (laptops/desktops) */
@media screen and (min-width: 992px) {
    /* CSS rules */
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.75rem;
    }
    h5 {
        font-size: 1.5rem;
    }
    h6 {
        font-size: 1.25rem;
    }

    /* NAVIGATION BAR*/
    nav {
        max-width: 80vw;
    }
    li {
        margin: 0 40px;
    }
    #home-section {
        max-width: 850px;
    }
    #profile-picture {
        height: 350px;
    }
}
