<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- TITLE -->
        <title>My Personal Portfolio | Contact</title>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- ICON -->
        <link
            rel="shortcut icon"
            href="portfolio_icon.png"
            type="image/x-icon"
        />

        <!-- STYLES -->
        <link rel="stylesheet" href="contact-style.css" />

        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Raleway:wght@500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <!-- NAVIGATION BAR  -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                
            </ul>
        </nav>

        <!-- CONTACT -->
        <div id="contact-section">
            <h1>Contact Me</h1>

            <!-- CONTACT FORM  -->
            <form action="https://formbold.com/s/3GxOM" method="POST">
                <div class="form-group">
                    <label for="user-name">Name</label><br />
                    <input
                        name="Username"
                        id="user-name"
                        type="text"
                        placeholder="Enter your name"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="email-address">Email</label><br />
                    <input
                        name="Email"
                        id="email-address"
                        type="email"
                        placeholder="Enter your email"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label><br />
                    <input
                        name="Subject"
                        id="subject"
                        type="text"
                        placeholder="Your subject"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="your-message">Message</label><br />
                    <textarea
                        name="Message"
                        id="your-message"
                        rows="5"
                        placeholder="Your message"
                        required
                    ></textarea>
                </div>
                <div class="form-group">
                    <input id="submit-button" type="submit" value="Submit" />
                </div>
                <div id="form-bottom-text">
                    I'll get in touch with you soon.
                </div>
            </form>
        </div>

        <!-- SOCIAL MEDIA LINKS -->
        <div id="social-medias">
            <div>
                Interested with my <span>projects</span> and
                <span>future projects?</span> You can check my progress in my
                social medias.
            </div>
            <div id="social-media-links">
                <a
                    href="https://www.instagram.com/sharproyalz/?hl=en"
                    target="_blank"
                    ><img
                        src="instagram_icon.svg"
                        alt="Instagram Icon"
                        height="35"
                /></a>
                <a
                    href="https://www.linkedin.com/in/vonn-pactol-718a2a283/"
                    target="_blank"
                    ><img
                        src="linkedin_icon.svg"
                        alt="Linkedin Icon"
                        height="35"
                /></a>
                <a href="https://github.com/sharproyalz" target="_blank"
                    ><img
                        src="github_icon.svg"
                        alt="Github Icon"
                        height="35"
                /></a>
            </div>
        </div>

        <!-- FOOTER -->
        <div id="footer">
            <div id="copyright-text">
                © 2023 Vonn Jezreel Pactol. | All rights reserved.
            </div>
        </div>
    </body>
</html>
