<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- TITLE -->
        <title>My Personal Portfolio</title>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="My Personal Portfolio" />
        <meta
            property="og:description"
            content="Welcome to my personal portfolio"
        />
        <meta property="og:image" content="portfolio_meta.png" />
        <meta name="twitter:card" content="portfolio_meta.png" />

        <!-- ICON -->
        <link
            rel="shortcut icon"
            href="portfolio_icon.png"
            type="image/x-icon"
        />

        <!-- STYLES -->
        <link rel="stylesheet" href="styles.css" />

        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Raleway:wght@500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <!-- NAVIGATION BAR -->
        <nav>
            <ul>
                <li><a href="#home-section">Home</a></li>
                <li><a href="#about-section">About Me</a></li>
                <li><a href="#project-section">Projects</a></li>
            </ul>
            <!-- SOCIAL MEDIA LINKS -->
            <div id="contacts">
                <a
                    href="https://www.instagram.com/sharproyalz/?hl=en"
                    target="_blank"
                    ><img
                        src="instagram_icon.svg"
                        alt="Instagram Icon"
                        height="30"
                /></a>
                <a
                    href="https://www.linkedin.com/in/vonn-pactol-718a2a283/"
                    target="_blank"
                    ><img
                        src="linkedin_icon.svg"
                        alt="Linkedin Icon"
                        height="30"
                /></a>
                <a href="https://github.com/sharproyalz" target="_blank"
                    ><img
                        src="github_icon.svg"
                        alt="Github Icon"
                        height="30"
                /></a>
            </div>
        </nav>

        <!-- HOME SECTION -->
        <div id="home-section">
            <div id="hero-text">
                <!-- <div id="type-container"> -->
                <h1>I'm Vonn</h1>
                <div class="small-info">
                    an aspiring Full-stack Developer | Student
                </div>
                <!-- <h1 id="typed-out">I'm a Web Developer .</h1> -->
                <!-- </div> -->
            </div>
            <div id="hero-image">
                <img
                    id="profile-picture"
                    src="profile_image.jpg"
                    alt="My Profile Picture"
                />
            </div>
        </div>

        <!-- TECHNOLOGY USED -->
        <div id="technology-used">
            <div class="small-info">Technology used</div>
            <div id="technologies-icons-container">
                <div class="technology-icons">
                    <img src="html_icon.svg" alt="HTML Icon" />
                </div>
                <div class="technology-icons">
                    <img src="css_icon.svg" alt="CSS Icon" />
                </div>
                <div class="technology-icons">
                    <img
                        src="javascript_icon.svg"
                        alt="Javascript Icon"
                    />
                </div>
                <div class="technology-icons">
                    <img src="php_icon.svg" alt="PHP Icon" />
                </div>
                <div class="technology-icons">
                    <img src="mysql_icon.svg" alt="MYSQL Icon" />
                </div>
                <div class="technology-icons">
                    <img src="bootstrap_icon.svg" alt="" />
                </div>
            </div>
        </div>

        <!-- ABOUT SECTION -->
        <div id="about-section">
            <div id="about-section-container">
                <h1>About Me</h1>
                <div class="small-info">
                    Hi I am Vonn, a BS-IT student currently studying at Cavite
                    State University. I am committed to becoming a Full-stack
                    Developer. My frontend technologies include HTML, CSS, and
                    JavaScript. I am still honing my skills and exploring new
                    frameworks to enhance my development skills. I have some
                    experience in backend development using Node.js, MySQL, and
                    PHP.
                </div>
            </div>
        </div>

        <!-- PROJECT-SECTION -->
        <div id="project-section">
            <h1>My Projects</h1>

            <!-- PROJECT-01 -->
            {{#projects}}
            <div class="projects proj-1">
                <a
                    href="{{ websiteLink }}"
                    target="_blank"
                    ><img
                        src="{{ thumbnail }}"
                        alt="{{ title }}"
                /></a>
                <div class="project-info">
                    <div class="project-texts">
                        <a
                            href="{{ websiteLink }}"
                            target="_blank"
                            ><h2>{{ title }}</h2></a
                        >

                        <div class="project-details">
                            {{ description }}   
                        </div>
                    </div>
                    <div class="flex-github-link">
                        <div class="github-link">
                            <a
                                href="{{ githubLink }}"
                                target="_blank"
                                ><img
                                    class="github-repo-link"
                                    src="github_icon.svg"
                                    alt="Github Repository Link"
                            /></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/projects}}
            {{! <!-- PROJECT-02 -->
            <div class="projects proj-2">
                <a
                    href="https://sharp-career-website.vercel.app/"
                    target="_blank"
                    ><img
                        src="sharp-career-thumbnail.png"
                        alt="Express Javascript Website"
                /></a>
                <div class="project-info">
                    <div class="project-texts">
                        <a
                            href="https://express-web-ten.vercel.app/"
                            target="_blank"
                            ><h2>Career Website</h2></a
                        >

                        <div class="project-details">
                            Career website using HTML, Bootstrap and Express
                        </div>
                    </div>
                    <div class="flex-github-link">
                        <div class="github-link">
                            <a
                                href="https://github.com/sharproyalz/express-web"
                                target="_blank"
                                ><i>sharproyalz/express-web</i></a
                            >
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROJECT-03 -->
            <div class="projects proj-3">
                <a
                    href="https://jovian-careers-bootstrap-five.vercel.app/"
                    target="_blank"
                    ><img
                        src="sudoku-solver-thumbnail.png"
                        alt="Jovian Bootstrap Website"
                /></a>
                <div class="project-info">
                    <div class="project-texts">
                        <a
                            href="https://scientific-calculator-navy.vercel.app/"
                            target="_blank"
                            ><h2>Bootstrap Website</h2></a
                        >

                        <div class="project-details">
                            This website is made with Bootstrap, a CSS framework
                            to make my website responsive
                        </div>
                    </div>
                    <div class="flex-github-link">
                        <div class="github-link">
                            <a
                                href="https://github.com/sharproyalz/jovian-careers-bootstrap"
                                target="_blank"
                                ><i>sharproyalz/jovian-careers-bootstrap</i></a
                            >
                        </div>
                    </div>
                </div>
            </div> }}
        </div>
            <!-- FOOTER -->
        <div id="footer">
            <div id="footer-text">
                Want to make projects with me?
                <a href="contact.html">Contact me</a>
            </div>
            <div id="copyright-text">
                © 2023 Vonn Jezreel Pactol. | All rights reserved.
            </div>
        </div>
    </body>
</html>
