/* ROOT */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-size: 14x;
    font-family: "IBM Plex Mono", sans-serif;
    box-sizing: border-box;

    /* DECLARE VARIABLE OF COLORS */
    --color-1: #080808;
    --color-2: #1b1b1b;
    --color-3: #ffffff;
    --color-4: #3f8e00;
    --color-5: #9c9c9c;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

a {
    text-decoration: none;
    color: var(--color-5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    color: var(--color-3);
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.75rem;
}

/* BODY */
body {
    background-color: var(--color-1);
}

/* NAVIGATION */
nav {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-radius: 0 0 10px 10px;
    background-color: var(--color-2);
    padding: 0 10px;
    margin: 0 auto;
    z-index: 1000;
    top: 0;
}

nav a:hover {
    color: var(--color-3);
}

ul {
    list-style-type: none;
}

nav li {
    position: relative;
    display: inline-block;
    margin: 0 12px;
    font-weight: 500;
}

nav ul a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    left: 0;
    background-color: var(--color-5);
    bottom: -10px;
    transition: all 0.4s ease-in-out;
}

li:hover a::after {
    width: 100%;
}

#contacts {
    display: none;
}

/* HOME SECTION */
#home-section {
    height: 65vh;
    padding: 0 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

#hero-text {
    margin-top: 30px;
}

/* HERO IMAGE */
#profile-picture {
    border-radius: 100%;
    height: 250px;
}

#technology-used {
    max-width: 1000px;
    padding: 0 10px;
    height: 25vh;
    margin: 0 auto;
}

#technology-used .small-info {
    color: var(--color-3);
    font-size: 14px;
    margin-bottom: 20px;
}

#technologies-icons-container {
    display: flex;
    justify-content: space-evenly;
}

.technology-icons {
    width: 130px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technology-icons img {
    width: 50px;
    height: 50px;
}

/* ABOUT SECTION */
#about-section-container {
    padding: 0 10px;
    max-width: 1000px;
    margin: 0 auto;
}

#about-section h1 {
    text-align: center;
    padding: 10px 0;
}

.small-info {
    margin: 0 auto;
    max-width: 1000px;
    text-align: justify;
    line-height: 24px;
    color: var(--color-5);
}

/* PROJECT SECTIONS */
#project-section {
    max-width: 1000px;
    padding: 0 10px;
    margin: 30px auto;
}

#project-section h1 {
    text-align: center;
    padding: 10px 0;
}

.projects {
    padding: 5px;
    margin: 10px 0;
    background-color: var(--color-2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.projects img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.project-details {
    color: var(--color-5);
}

.date-published {
    font-size: 0.6rem;
    color: var(--color-3);
}

.flex-github-link {
    display: none;
}

/* #view-container {
    display: flex;
    justify-content: flex-end;
}
#view-more-projects:hover {
    color: var(--color-3);
} */

/* FOOTER */
#footer {
    background-color: var(--color-2);
    text-align: center;
    color: var(--color-5);
    padding: 15px 10px;
    margin-top: 50px;
}

#footer-text,
#copyright-text,
#footer-text a {
    font-size: 12px;
}

#footer-text a {
    color: var(--color-3);
    font-weight: 600;
}

#footer-text a:hover {
    text-decoration: underline;
}

#copyright-text {
    margin-top: 5px;
    color: var(--color-5);
}

/* Small devices (mobile/tablets) */
@media screen and (min-width: 576px) {
    * {
        font-size: 16px;
    }

    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }

    /* NAVIGATION BAR*/
    nav {
        max-width: 90vw;
        justify-content: space-around;
    }

    nav li {
        display: inline;
        margin: 0 16px;
        font-weight: 500;
    }

    #contacts {
        display: block;
    }

    #contacts a {
        display: inline-block;
        margin: 0 10px;
        width: 30px;
        height: 30px;
    }

    /* HOME */
    #home-section {
        margin: 0 auto;
        max-width: 800px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }

    #hero-text {
        margin-top: 0px;
    }

    #about-section h1 {
        padding: 20px 0;
    }

    .small-info {
        line-height: 32px;
    }

    /* PROJECT SECTION */
    .projects {
        display: flex;
        justify-content: space-evenly;
        gap: 8px;
        padding: 10px;
    }

    .projects img {
        max-width: 350px;
    }

    .project-info {
        width: 55%;
    }

    .project-texts {
        height: 75%;
    }

    .project-texts a {
        display: block;
        width: fit-content;
    }

    .flex-github-link {
        height: 25%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .github-link .github-repo-link {
        height: 30px;
    }
}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 992px) {
    * {
        font-size: 18px;
    }

    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.75rem;
    }
    h5 {
        font-size: 1.5rem;
    }
    h6 {
        font-size: 1.25rem;
    }

    /* NAVIGATION BAR*/
    nav {
        max-width: 80vw;
    }

    li {
        margin: 0 40px;
    }

    #home-section {
        max-width: 850px;
    }

    #profile-picture {
        height: 350px;
    }
}
